[id^=contentbox_]:before
{
    position: absolute;
    top: -2px;
    left: -2px;

    width: 0;
    height: 0;

    content: '';

    border-width: 35px 35px 0 0;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}
[id^=contentbox_]
{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;

    border: 3px solid #ccc;
    outline: 6px solid white;
    background-color: white;
}
@media (min-width:768px)
{
    [id^=contentbox_]
    {
        margin-top: 45px;
    }
}
[id^=contentbox_]:hover
{
    border: 3px solid #4169e1;
}
[id^=contentbox_]:hover:before
{
    border-color: #4169e1 transparent transparent transparent;
}
[id^=contentbox_]:hover #divider
{
    background-color: #4169e1;
}
#divider
{
    position: relative;
    left: 10%;

    float: left;

    width: 80%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;

    background-color: #ccc;
}
.button
{
    line-height: 35px;

    width: 200px;
    margin-top: 5px;
    margin-left: 45px;

    text-align: center;

    color: #4169e1;
    border: 1px solid #4169e1;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.button:hover
{
    font-weight: bold;

    color: #f8f8f8;
    background-color: #4169e1;
}
.title_small
{
    font-size: 24px;

    color: #4169e1;
}
.title_large
{
    font-size: 35px;

    text-align: center;

    color: #4169e1;
}
/* Home */
.home_slider-image img
{
    width: 90%;
    margin-bottom: 10px;

    border-radius: 10px;
}
#home_quote
{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;

    margin-top: 10px;

    text-align: center;

    color: #4169e1;
}
#home_image-container
{
    text-align: center;
}
#home_image-container img
{
    width: 100%;
    max-width: 400px;

    border: 1px solid #039;
    box-shadow: 0 0 10px 2px #aaa;
}
#home_info
{
    font-size: 16px;

    padding-top: 30px;
    padding-bottom: 15px;

    color: #777;
}
/* Board */
.board_members
{
    font-size: 18px;
    line-height: 30px;

    padding: 15px;

    color: #777;
}
/* News */
#contentbox_news > div:nth-child(1)
{
    text-align: center;
}
#contentbox_news > div:nth-child(1) > img:nth-child(1)
{
    width: 75%;
    min-width: 350px;
    max-width: 600px;
    margin-bottom: -15px;
}
.news_contents
{
    font-size: 14px;

    padding-top: 15px;

    color: #777;
}
.news_contents a
{
    color: #4169e1;
}
.news_contents a:hover
{
    text-decoration: underline;
}
#news_coupon20
{
    margin-top: 10px;

    text-align: center;
}
#news_coupon20 img
{
    width: 100%;

    border: 1px solid #4169e1;
}
/* Contact */
#contact_title
{
    margin-top: -5px;
}
.contact_input--title
{
    font-weight: bold;

    margin-top: 15px;

    color: #777;
}
input,
textarea
{
    height: 35px;
    margin-top: 5px;

    border-radius: 0;
}
textarea
{
    height: 100px;
    min-height: 100px;
    padding: 15px;

    resize: vertical;
}
input:valid,
textarea:valid
{
    border: 1px solid #777;
}
input:invalid,
textarea:invalid
{
    border: 1px solid red;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover
{
    border: 1px solid #4169e1 !important;
}
button
{
    font-weight: bold;

    height: 45px;
    margin-top: 15px;

    color: #777;
    border: 1px solid #4169e1;
    border-radius: 5px;
}
button:hover
{
    color: white;
    border: 0;
    background-color: #777;
}
.contact_submit--notice
{
    font-size: 12px;

    margin-top: 2px;

    color: #777;
}
/* Directions */
#directions_title
{
    margin-top: -5px;
}
.directions_location
{
    font-size: 20px;
    font-weight: bold;

    margin-top: 15px;

    color: #777;
}
.directions_place
{
    font-size: 15px;

    margin-top: 5px;
    padding-right: 45px;
    padding-left: 45px;

    color: #777;
}
/* Game Schedule */
#game-schedule--info
{
    font-weight: bold;
    font-style: italic;

    padding-top: 25px;
    padding-bottom: 10px;

    text-align: center;

    color: #777;
}
/* Goals */
#contentbox_goals > div:nth-child(1)
{
    margin-top: -10px;

    text-align: center;
}
#contentbox_goals > div:nth-child(1) > img
{
    width: 75%;
    max-width: 500px;
}
#goals_title
{
    margin-top: -10px;
    margin-bottom: 10px;

    text-align: center;
}
.goals_item
{
    font-size: 15px;

    padding-right: 30px;
    padding-left: 30px;

    color: #474747;
}
.goals_item-num
{
    font-size: 20px;
    font-weight: bold;

    color: #777;
}
/* Important Articles */
#contentbox_important-articles > div:nth-child(1)
{
    margin-bottom: -15px;

    text-align: center;
}
#contentbox_important-articles > div:nth-child(1) > img
{
    width: 80%;
    min-width: 350px;
    max-width: 650px;
}
#important-articles_title
{
    margin-top: -10px;
    margin-bottom: 5px;
}
#important-articles_desc
{
    font-size: 13px;
    font-style: italic;

    margin-top: 5px;

    color: #474747;
}
.important-articles_download-name
{
    font-size: 15px;
    font-style: italic;

    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;

    color: #777;
}
.important-articles_download-info
{
    font-size: 12px;

    margin-top: 5px;
    padding-right: 45px;
    padding-left: 45px;

    color: #777;
}
/* Lax Links */
#links_title
{
    margin-top: -5px;

    text-align: center;
}
.link_name
{
    font-size: 22px;

    margin-top: 15px;

    color: #777;
}
.link_info
{
    font-size: 16px;

    padding-left: 30px;

    color: #aaa;
}
.link_button
{
    margin-bottom: 10px;
}
/* Parent Information */
#parent-chart--2
{
    margin-top: -55px;
    margin-bottom: -125px;
}
#parent-text
{
    font-size: 18px;
    font-style: italic;

    padding-top: 25px;
    padding-bottom: 25px;

    color: #777;
}
.parent-text_indent
{
    font-weight: bold;
    font-style: normal;

    margin-top: 10px;
}
#parent-download--name
{
    font-size: 15px;
    font-style: italic;

    margin-top: 15px;
    margin-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;

    color: #777;
}
/* Practice Schedules */
.practice-info
{
    font-size: 15px;
    font-style: italic;

    margin-top: 15px;
    padding-left: 30px;

    color: #777;
}
.practice-info:nth-child(2)
{
    padding-bottom: 15px;
}
#practice-tbd
{
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 15px;

    color: #474747;
}
/* Registration */
#contentbox_registration > div:nth-child(1)
{
    margin-bottom: -30px;

    text-align: center;
}
#contentbox_registration > div:nth-child(1) > img
{
    width: 80%;
    max-width: 500px;
}
#register_text
{
    font-size: 16px;

    margin-top: 15px;

    color: #777;
}
#register_text a
{
    font-weight: bold;

    color: #777;
}
#register_button
{
    width: 225px;
    margin-top: 15px;
    margin-left: 30px;
}
/* Rules of Lacrosse */
#contentbox_rules > div:nth-child(1)
{
    margin-bottom: -15px;

    text-align: center;
}
#contentbox_rules > div:nth-child(1) > img
{
    width: 75%;
}
.rules_title
{
    margin-top: -10px;
    margin-bottom: 5px;
}
.rules_download-name
{
    font-size: 15px;
    font-style: italic;

    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;

    color: #777;
}
#rules_text
{
    font-size: 14px;

    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;

    color: #777;
}
/* Sponsors */
#sponsors_image-DSG img
{
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sponsors_coupons-info
{
    font-size: 14px;

    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 45px;

    color: #777;
}
#sponsors_image-other img
{
    width: 150px;
    margin-top: -20px;
    margin-bottom: 15px;
}
#sponsors_image-other > img:nth-child(2)
{
    margin-top: -120px;
}
#sponsors_image-other
{
    text-align: center;
}
.sponsors_other
{
    font-size: 14px;

    padding-top: 15px;

    color: #777;
}
.sponsors_other a
{
    font-style: italic;

    color: #474747;
}
.sponsors_other a:hover
{
    text-decoration: underline;
}
